// ************** COLORS ***************

$primary: #d9414e;
$light: #d8d8d8;
$dark: rgb(39, 34, 34);

$accent: #04c4d9;
$dark-primary: #8c2e36;
$nav-hover: #ffffff;

$body-bg: #fff;

.hidden-svg {
    display: none;
}
